*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.5em ;
}
.logo img{
    width: 100px;
    height: auto;
    object-fit: contain;
}
.nav{
    text-decoration: none;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    padding: 1em 2em;
}
.nav .enlaces a{
    text-decoration: none;
    color: #000000;
    margin: 0 1em;
    font-size: 1.2em;
}
.header .btn{
    background-color: #d3d3d3;
    color: #000000;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
    border: 0em;
}
main{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.banner{
    background-color:#F40000;
    padding: 1em;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.banner .img{
    width: auto;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;

}
.banner .etiqueta{
    font-size: 2em;
    margin-bottom: 1em;
    position: relative;
    position: absolute;
    bottom: 15%;
    right: 15%;
    color: rgb(63, 62, 62);
}
.banner .btn{
    background-color: #f71b1b;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
    margin:1em ;
}   
.grupo-mas-vendidos{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.Item-mas-vendido{
    border: 1px solid #ff0000   ;
    border-radius: 10px;
    padding: 1em;
    flex: 1 1 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Item-mas-vendido img
{
    width: 20%;
    height: 20%;
    object-fit: contain;
}
